{% extends "base.html" %}
{% load staticfiles %}
{% block head %}
<link rel="stylesheet" href="{% static 'style.css'%}">
<style>
.bg-image--24{
    background: url("{% static 'images/img/background.jpg'%}");
}
</style>
{% endblock %}
{% block body %}
{% if status %}
    <script>
    alert('{{status}}');    
    </script>
{% endif %}
<!-- Start Bradcaump area -->
<div class="ht__bradcaump__area bg-image--24">
    <div class="ht__bradcaump__wrap d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="bradcaump__inner text-center brad__white">
                        <h2 class="bradcaump-title">contact us</h2>
                        <nav class="bradcaump-inner">
                            <a class="breadcrumb-item" href="{% url 'index'%}">Home</a>
                            <span class="brd-separetor"><i class="zmdi zmdi-long-arrow-right"></i></span>
                            <span class="breadcrumb-item active">contact us</span>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Bradcaump area --> 
<!-- Start Contact Map -->
<div class="contact__map__area">
    <div class="contact__map__wrapper">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3430.0561195236173!2d76.6924771144611!3d30.716822693451668!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390fee5a42944be3%3A0xb713d3a3e26a89c1!2sSachTech+Solution+Pvt.+Ltd.!5e0!3m2!1sen!2sin!4v1556213915670!5m2!1sen!2sin" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>
<!-- End Contact Map -->
<!-- Start Address -->
<div class="food__contact">
    <div class="food__contact__wrapper d-flex flex-wrap flex-lg-nowrap">
        <!-- Start Single Contact -->
        <div class="contact">
            <div class="ct__icon">
                <i class="zmdi zmdi-phone"></i>
            </div>
            <div class="ct__address">
                <p><a href="#">+088 01673-453290</a></p>
                <p><a href="#">+088 01773-458290</a></p>
            </div>
        </div>
        <!-- End Single Contact -->
        <!-- Start Single Contact -->
        <div class="contact">
            <div class="ct__icon">
                <i class="zmdi zmdi-home"></i>
            </div>
            <div class="ct__address">
                <p>SachTech Solution Pvt. Ltd.<br> Phase 7, Industrial Area, Mohali</p>
            </div>
        </div>
        <!-- End Single Contact -->
        <!-- Start Single Contact -->
        <div class="contact">
            <div class="ct__icon">
                <i class="zmdi zmdi-email"></i>
            </div>
            <div class="ct__address">
                <p><a href="#">info@sachtechsolution.com</a></p>
                <p><a href="#">FoodParadise@e-mail.com</a></p>
            </div>
        </div>
        <!-- End Single Contact -->
    </div>
</div>
<!-- End Address -->
<section class="food__contact__form bg--white section-padding--lg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="contact__form__wrap">
                    <h2>Get In Touch With Food Paradise</h2>
                    <div class="contact__form__inner">
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="single-contact-form">
                                <div class="contact-box name d-flex flex-wrap flex-md-nowrap flex-lg-nowrap justify-content-between">
                                    <input type="text" name="name" placeholder="Your Name"minlength="3" pattern="[A-Za-z\s]+" title="Must Contain Character Only" >
                                    <input type="email" name="email" placeholder="E-mail">
                                    <input type="number" name="phone" placeholder="Phone" min="1000000000" max="9999999999">
                                </div>
                            </div>
                            <div class="single-contact-form">
                                <div class="contact-box message">
                                    <textarea name="message"  placeholder="Message*"></textarea>
                                </div>
                            </div>
                            <div class="contact-btn">
                                <button type="submit" class="food__btn">submit</button>
                            </div>
                        </form>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}