{% extends "base.html" %}
{% load staticfiles%}
{% block head %}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
<script src='//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js'></script>
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
<link rel="stylesheet" href="{% static 'mystyle.css'%}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">

<style>
.ab{
    border:1px solid black !important;
}
.bg-image--21{
    background:url('{% static "images/img/background2.jpg"%}');background-size:100% 100%; background-position: center center;
}
</style>
{% endblock %}
{% block body %}
    
        <div class='row bg-image--21'>
            <div class='col-md-12' style='background:rgba(0,0,0,0.6)'>
                <h2 class='text-center text-light font-weight-bold' style='line-height:150px;'>{{pp.subtitle}} {{pp.user.first_name}}</h2>
               
            </div>
        </div>
        <div class='row py-4 mt-5'>
            <div class="col-md-4 text-center">
                 <img src="/media/{{pp.profile_pic}}" height="150" width="150" class="rounded-circle">

            </div>
            <div class='col-md-8'>
                <h2>Details</h2>
                <div style='height:2px;width:100px;background:#ff5063'></div>
                <table class='table table-striped mt-4 table-hover'>
                    <tbody>
                        <tr>
                            <th>Full Name</th>
                            <td>{{pp.subtitle}} {{pp.user.first_name}}</td>
                        </tr>
                        <tr>
                            <th>User ID</th>
                            <td>{{pp.user.id}}</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>{{pp.user.email}}</td>
                        </tr>
                        <tr>
                            <th>Gender</th>
                            <td>
                                {% if i.subtitle is Mr. %}Male{% else %} Female{% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Address</th>
                            <td>{{pp.city}}</td>
                            
                        </tr>
                        <tr>
                            <th>Age</th>
                            <td>{{pp.age}}</td>
                        </tr>
                        <tr>
                            <th>Contact</th>
                            <td>{{pp.contact}}</td>
                        </tr>
                        <tr>
                            <th>Is Available</th>
                            <td>{{pp.is_available}}</td>
                        </tr>
                        <tr>
                            <th>Member Since</th>
                            <td>{{pp.registered_on}}</td>        
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

{% endblock %}