<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel='stylesheet' href="{% static 'css/bootstrap.min.css' %}">
    
  <style>
   #b1
   {
       position: fixed;
       left:0px;
   }
   
  
     a:hover{
    background:#1b93e1;
 display: block;

 
}
 </style>
     {% block myblock %}
   {% endblock %}
</head>
<body >
    
    <div class='container-fluid' >
        <div class='row' >
            <div class='col-md-2 sticky-top' style='background: #333333;height:670px;'>
                <div class='row'>
                    <div class='col-md-12 pt-3 pb-3  text-center' style='background: rgb(213,12,13)'>
                        <i class='fa fa-bars  pl-3 pr-3 pt-2 pb-2' style='color:rgb(213,12,13);font-size: 20px;background:white;' data-toggle='dropdown' data-target='#mymenu'></i>   
                    </div>
                </div>
                <div class='row'>
                    <div class='col-md-12 px-0 ' >          
                        <ul class='navbar-nav pl-3'>
                            <li class='navbar-item pb-3'>
                                <a href='' class='nav-link'>
                                    <i class="fa fa-dashboard text-light" style='font-size:17px'></i>
                                            <span class='text-light '>Dashboard</span>
                                        
                                </a>
                            </li>
                  
                            <li class='nav-item pb-3'>
                                <a href="" class='nav-link'>
                                    <i class="fa fa-lock text-light" style='font-size:17px' ></i>
                                    <span class='text-light'>Change Password</span>
                                </a>
                            </li>
                            <li class='nav-item pb-3 '>
                                <a href="" class='nav-link'>
                                        <i class="fa fa-edit text-light" style='font-size:17px' ></i>
                                    <span class='text-light'>Company Profile</span>
                                </a>
                            </li>
                            <li class='nav-item pb-3'>
                                <a href='' class='nav-link'>
                                        <i class="fa fa-sign-out text-light" style='font-size:17px'></i>
                                    <span class='text-light'>Logout</span>
                                </a>
                            </li>      
                       </ul>
                   </div>
               </div>
            </div>
      
  
            <div class='col-md-10' >
                <div class='row' style='background:url("{% static 'images/lapi.jpg' %}");background-attachment:fixed'>
                    <div class='col-md-12' style=' border:1px solid grey;background:rgba(0,0,0,0.5);height:60px'>
                        <nav class='navbar navbar-expand-lg  navbar-dark fixed-top justify-content-center'  >
                            <button class='navbar-toggler' data-toggle='collapse' data-target='#mynav'>
                                    <span class='navbar-toggler-icon'></span>
                                </button>
                            <div id='mynav' class='collapse navbar-collapse'>
                                    <ul class='navbar-nav mx-auto'>
                                          <li class='nav-item mr-3 ml-2' >
                                              <a href="" class='nav-link' style='font-size: 16px;font-family: "poppins", sans-serif;
                                              font-weight: 500;'>Home</a>
                                          </li>
                                          <li class='nav-item mr-3 ml-5'>
                                            <a href="" class='nav-link' style='color:#fff;font-size: 16px;font-family: "poppins", sans-serif;
                                            font-weight: 500;' >Post a Job</a>
                                          </li>
                                         
                                               <li class='nav-item  mr-3 ml-3'>
                                                <a href=" "  class='nav-link' style=' color:#fff;font-size: 16px;font-family: "poppins", sans-serif;
                                                font-weight: 500;' >All Jobs</a>
                                               </li>
                                               
                                      </ul> 
                                    </div>
                                   </nav>
          
                </div>
                        </div>
<div class='col-md-12 px-0'>
    {% block body %}

    {% endblock %}
</div>

                    </div>
        </div>
    </div>   
</body>
</html>